name: mrsimulator-dev
channels:
  - anaconda
  - conda-forge
dependencies:
  - fftw>=3.3.0
  - openblas
  - numpy>=1.17
  - nomkl
  - setuptools>=27.3
  - cython>=0.29
  - matplotlib>=3.3.3
  - pandas>=1.1.3
  - joblib>=1.0.0
  - pip
  - pip:
      - monty>=2.0.4
      - csdmpy>=0.4
      - pydantic>=1.0
      - typing-extensions>=3.7
      - lmfit>=1.0.2
      - psutil>=5.4.8
      - git+https://github.com/DeepanshS/mrsimulator.git@master
      - plotly
