

README.md


MRsimulator/scr/mrlib/scr_c/histogram.c
MRsimulator/scr/mrlib/scr_c/OCEulerAngle.c
MRsimulator/scr/mrlib/scr_c/c_array.c
MRsimulator/scr/mrlib/scr_c/core.c
MRsimulator/scr/mrlib/scr_c/OCPowderScheme.c
MRsimulator/scr/mrlib/scr_c/MRAngularMomentum.c
MRsimulator/scr/mrlib/scr_c/powder_averaging_scheme/sphere_lebedev_rule.c
MRsimulator/scr/mrlib/scr_c/powder_averaging_scheme/lebedev131.c
MRsimulator/scr/mrlib/scr_c/powder_averaging_scheme/leboct31.c
MRsimulator/scr/mrmethods/spinning_sidebands.c
MRsimulator/scr/mrmethods/csa_static_lineshape.c
MRsimulator/scr/mrmethods/test_spin.c
MRsimulator/scr/mrmethods/powder_setup.c
MRsimulator/scr/mrmethods/nmr_methods.pyx
MRsimulator/scr/mrlib/mrlib.pxd