

mkl>=2019
mkl-include>=2019
cython>=0.29.11
numpy>=1.13.3
setuptools>=27.3
astropy>=3.0
requests>=2.21.0
matplotlib>=3.0.2
numba

pytest>=4.5.0
sphinx>=2.0
sphinxjp.themes.basicstrap
breathe
exhale
