numpy>=1.17,<1.21
matplotlib>=3.3.3
csdmpy>=0.3.4
pydantic>=1.0
monty>=2.0.4
typing-extensions>=3.7
lmfit>=1.0.2
pandas>=1.1.3
numexpr>=2.7.1
psutil>=5.4.8
joblib>=1.0.0

# Formatting requirements
black
pre-commit

# Test requirements
sympy
pytest>=5.3
pytest-cov

# Building Docs requirements
sphinxjp.themes.basicstrap
sphinx>=2.0
sphinx-gallery>0.6.2
pillow>=7.1.2
breathe==4.29.2
sphinx_copybutton>=0.3.0
sphinx-tabs>=1.1.13
recommonmark
sphinx-version-warning
