body {
    /* max-width: 1536px; */
    background-color: rgb(255, 255, 255);
    /* font: 0.01 1em 'Lato', Verdana, Helvetica, sans-serif; */
}

.container {
    margin-top: 400px;
    box-shadow: 0 20px 20px rgb(255, 0, 0);
    padding:0 15px 0 15px;
}

.navbar-dark .nav-link {
    color: silver;
}

.nav-link:hover {
    color: white;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #000000;
    background-color: #ccedff;
    border: 1px solid #006ab1ce;
    border-bottom: 0px solid #75b7dd !important;
    font-size: 12px;
    font-weight: bold;
}

#tabs .nav-tabs .nav-link, .nav-tabs {font-size: 12px}

#tabs .nav-link, .nav-link:hover {font-size: 12px; background-color: #c9c9c9;}

.tab-content{
    background: #ffffff00;
      line-height: 25px;
      border: 0px solid #ddd;
      border-top:1px solid #4986aa;
      /* border-bottom:5px solid #4986aa; */
      padding:0px 0px;
      /* font-size: 14px; */
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 1px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.my-card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    margin: 0 auto;
    border: none;
    border-radius: 0em;
    border-right: 1px solid rgb(214, 214, 214);
    border-bottom: 1px solid rgb(214, 214, 214);
    /* border-color: #ffffff; */
    background: linear-gradient(to bottom, #f6f6f6 0%, #fcfcfc 100%);
    box-shadow: 0 0px 0px 0 #d4d4d5, 0 0 0 0px #d4d4d5;
}

.my-card-2 {
    font-size: 1em;
    overflow: hidden;
    padding: 0 auto;
    margin: 0 auto;
    border: none;
    border-radius: 0em;
    border-left: 1px solid rgb(214, 214, 214);
    border-top: 1px solid rgb(214, 214, 214);
    background: linear-gradient(to bottom, #f6f6f6 0%, #fcfcfc 100%);
    box-shadow: 0 0px 0px 0 #d4d4d5, 0 0 0 0px #d4d4d5;
}

.card-header{
    height: 3.5em;
}
