/* .wy-nav-content {
    padding: 1.618em 3.236em;
    height: 100%;
    max-width: 800px;
    margin: auto;
} */

/* override table width restrictions */
/* .wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

.wy-table-responsive {
    margin-bottom: 24px;
    max-width: 100%;
    overflow: visible;
} */

.sphx-glr-footer.container,
.sphx-glr-download.container {
  width: 100%;
}
